
:root {
  --dark-blue: #363f5f;
  --green: #49AA26;
  --red: #e92929;
  --light-green: #3dd705;
  --bg-header: #3ec00f;
  --bg-color: #f0f2f5;
  --font-color: #363f5f;
  --primary-color: var(--green);
  --secondary-color: white;
  --cancel-color: var(--red);

  font-size: 80.5%;
  --transition-delay: 0.4s;
}

*,::after , ::before {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="dark"]{
  --bg-header: #121214;
  --bg-color: #202024;
  --secondary-color: #1c1c1c;
  --font-color: white;
  
}

html{
  font-size: 93.75%; /* 15px */
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

.sr-only{
  position: absolute;
  width: .1rem;
  height: .1rem;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

button{
  width: 100%;
  height: 50px;

  border: none;
  border-radius: 0.25rem;

  color: var(--secondary-color);
  background-color: var(--green);
  
  cursor: pointer;
}

button:hover{
  background:#53be2c;
  opacity: 1;
  transition: all 0.5s ease;

}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;
  color: var(--green);
}

.button.cancel{
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  
  height: 3.5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.6;
}

.button.cancel:hover{
  opacity: 1;
  transition: all 0.5s ease;
}


header {
  background: var(--bg-header);
  padding: 2rem 0 15rem;
  text-align: center;
}

#logo {
  color:var(--secondary-color);
  font-weight: 100;
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: var(--secondary-color);
  margin-top: 0;
}

.card {
  background: var(--secondary-color);
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;  
  border-radius: 0.25rem;
  transition:  transform 0.3s;
  color: var(--font-color);
}

.card:hover {
  transform: scale(1.1);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 1rem;
}

.card.total {
  background: var(--dark-blue);
  color: white;
}


#transaction{
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--font-color);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
  background: var(--secondary-color);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody td {
  background: var(--secondary-color);
  padding: 1rem 2rem;
}

table tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

td.description {
  color:black;
}

td.income {
  color: var(--green);
}

td.expense {
  color: var(--red);
}


.modal-overlay{
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .7);

  position: fixed;
  top: 0;


  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  z-index: 2;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  background-color: var(--bg-color);
  padding: 2.4rem;
  border-radius: 1rem;

  position: relative;
  z-index: 999;
}


#form{
  max-width: 500px;
}

#form h2{
  margin-top: 0;
}

#form form input{
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;

  width: 100%;
}

.input-group{
  margin-top: 0.8rem;
}

.input-group small{
 color: var(--light-green)
 
}

.input-group.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
  width: 48%;
  
}


footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: black;

  opacity: 0.6;
}

/* dark theme */

.theme-switch-wrapper{  
  align-self: flex-start;
  padding-right: 1rem;
  flex-direction: row-reverse;
 

  display: flex;
  align-items: center;
}

.theme-switch{
  display: inline-block;
  height: 2.3rem;
  position: relative;
  width: 4.3rem;
}

.theme-switch input {
  display: none;
}

.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ccc;
  border-radius: 34px;
}

.slider::before {
  content: "";
  position: absolute;
  left: .025rem;
  bottom: 50%;
  transform: translateY(50%);

  height: 1.8rem;
  width: 1.8rem;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

/* Slider seguido de um input checked */
input:checked + .slider {
  background-color:  var(--green);
}

/* Rolar a bolinha para o outro lado */
input:checked + .slider::before{
  transform: translate(2rem, 50%);
}

/* Responsive */
@media (min-width: 800px){
  html{
    font-size: 87.5%;
  }

  #balance{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

}